{% extends 'base.html' %}

{% block head %}<title>Add a Booking</title>{%endblock%}

{% block body %}
<h2>Add a new booking</h2>

<form method="POST">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Choose Schedule
        </button>
        <ul class="dropdown-menu">
            {% for schedule in schedules %}
            <li><a class="dropdown-item" >{{ schedule.schedule_id }}: {{ schedule.start }} to {{ schedule.destination }} | {{schedule.departure_time }} | {{ schedule.arriving_time }} | {{ schedule.price }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="card mb-2">
        <div class="card-body ">
            <h5>Payment</h5>
            <label for="card_number">Card Number:</label>
            <input class="form-control" type="text" name="card_number" placeholder="Card Number" required>
            <label for="expiration_date">Expiration Date:</label>
            <input class="form-control" type="text" name="expiration_date" placeholder="MM/YY" required>
            <label for="cvv">CVV:</label>
            <input class="form-control" type="text" name="cvv" placeholder="CVV" required>
            <label for="cardholder_name">Cardholder Name:</label>
            <input class="form-control" type="text" name="cardholder_name" required>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" >Book</button>
</form>
{%endblock%}