{% extends "base.html" %}

{% block head %}
    <title>Dashboard</title>
{% endblock %}

{% block body %}
<div class="blue-page text-center">
    
    <h1>Welcome to the dashboard {{ name }}</h1>

    <a class="btn btn-primary mt-5 mb-3" href="{{ url_for('views.add_booking') }}">book a trip</a>
    <a class="btn btn-secondary mt-5 mb-3" href="{{ url_for('views.bookings') }}">manage your bookings</a>

    <br>
    {% if not upcoming_bookings %}
    <p>No bookings yet</p>
    {% endif %}
    {% for booking in upcoming_bookings %}
    <table class="table">
        <thead>
            <tr>
                <th>Route</th>
                <th>Departure Date and Time</th>
                <th>Bus Number and Seat Number</th>
                <th>Booking Status</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
                <td>{{ booking['start'] }} - {{ booking['destination'] }}</td>
                <td>{{ booking['departure_time'] }}</td>
                <td>{{ booking['bus_number'] }} - {{ booking['seat_number'] }}</td>
                <td>{{ booking['status'] }}</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
</div>
{% endblock %}