{% extends 'base.html' %}

{% block head %}<title>Routes</title>{%endblock%}

{% block body %} 
<h2>Drivers</h2>
<a class= "btn btn-success mb-3" href="{{ url_for('admin.add_driver') }}">Add Driver</a>
{% if drivers == [] %}<p>No drivers yet</p>{% endif %}
{% for driver in drivers %}
<div class="card mb-2">
    <div class="card-body ">
        <h5>{{ driver['name'] }}</h5>
        <p>{{ driver['license_number'] }}  |  {{ driver['phone'] }}  |  {{ driver['experience'] }}  |  {{ driver['status'] }}</p>
        <a class="btn-danger btn-sm" href="/delete_driver/{{driver['id']}}">Delete</a>
    </div>
</div>
{% endfor %}

{%endblock%}