{% extends "base.html" %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
<div class="blue-page text-center">
  <div class="container-fluid mx-auto mb-4">
          <img src="{{url_for('static', filename='images/user.png')}}" alt="User illustration" class="small-image">
  </div>

    <h1>Login to Your Account</h1>
  <div class="col-3 mx-auto">
      <form method = "POST" >
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control mb-2" id = "email" name = "email" required>
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control mb-2" id = "password" name = "password" required>
          <button class="btn btn-primary mt-5" type="submit">Login</button>
      </form>
  </div>
</div>
{% endblock %}