{% extends 'base.html' %}

{% block head %}<title>Routes</title>{%endblock%}

{% block body %} 
<h2>Routes</h2>
<a class= "btn btn-success mb-3" href="{{ url_for('admin.add_route') }}">Add Route</a>
{% if routes == [] %}<p>No routes yet</p>{% endif %}
{% for route in routes %}
<div class="card mb-2">
    <div class="card-body ">
        <h5>{{ route['start'] }} -----> {{ route['destination'] }}</h5>
        <p>{{ route['distance_km'] }} KM  |  {{ route['travel_time']//60 }}:{{ '%02d' % (route['travel_time']%60) }} hour trip</p>
        <a class="btn-danger btn-sm" href="/delete_route/{{route['id']}}">Delete</a>
    </div>
</div>
{% endfor %}

{%endblock%}