{% extends 'base.html' %}

{% block head %}<title>Routes</title>{%endblock%}

{% block body %} 
<h2>Routes</h2>
<a class= "btn btn-success mb-3" href="{{ url_for('admin.add_schedule') }}">Add Route</a>
{% if routes == [] %}<p>No routes yet</p>{% endif %}
{% for route in routes %}
<div class="card mb-2">
    <div class="card-body ">
        <h5>{{ schedule['bus_number'] }}</h5>
        <p>{{ schedule['departure_time'] }}  |  {{ schedule['arriving_time'] }}  |  {{ schedule['price'] }}$</p>
        <a class="btn-danger btn-sm" href="/delete_schedule/{{schedule['id']}}">Delete</a>
    </div>
</div>
{% endfor %}

{%endblock%}